/* @import url(https://fonts.googleapis.com/css?family=Poiret+One); */
html, body, #container {
    height: 100%;
    width: 100%;
    /* overflow: hidden; */
}
#container {
    padding-top: 55px;
}
#map {
    width: auto;
    height: 100%;
}
.navbar {
    border-color: #bbb;
}
.navbar-brand {
    font-family: 'Bahnschrift';
    font-weight: normal;
}